<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Address Lookup Service !!</title>
</head>
<body>
<form action="#" th:action="@{/}" method="get">
    <h4>Postcode :</h4>
    <p th:text="${postcode}"/>
    <h4>Address :</h4>
    <p th:text="${address}"/>

    <p><input type="submit" value="Next search" /></p>
</form>
</body>
</html>